#buttons {
    padding: 0px;
    width: 150px;
    height: 150 px;
}

#extraSpacing {
    padding: 15px;
}

#background {
    fill-opacity: inherit;
}

#top {
    padding: 50px;
}

#h3 {
    font-size: 75px;

}